<section class="share">
    <h4>Share this post</h4>
    <a class="icon-twitter" href="https://twitter.com/share?text={{page.title}}&amp;url={{site.domain_name}}{{ page.url }}"
        target="_blank">
        <span class="hidden">Twitter</span>
    </a>
    <a class="fa fa-reddit" href="https://www.reddit.com/submit?url={{site.domain_name}}{{page.url}}"
       target="_blank">
        <span class="hidden">Reddit</span>
    </a>
    <a class="fa fa-tumblr" href="http://www.tumblr.com/share/link?url={{site.domain_name}}{{page.url}}" target="_blank">
        <span class="hidden">Tumblr</span>
    </a>
    <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{site.domain_name}}{{page.url}}"
        target="_blank">
        <span class="hidden">Facebook</span>
    </a>
    <a class="icon-google-plus" href="https://plus.google.com/share?url={{site.domain_name}}{{page.url}}"
       target="_blank">
        <span class="hidden">Google+</span>
    </a>
</section>
